{% extends "clientlogin/base.html" %}
{% load static %} 
{% block header %}
<a id=a22><b>MyWork</b></a><br>
{% endblock header %}
{% block color %}
<script>
  
    $(document).ready(function(){
        document.getElementById("mywork").style.filter="invert(100%)";
        document.getElementById("a2").style.color= "white";
        console.log('hello');

    
    
    });
    
        
    </script>    
{% endblock  %}

{% block section %}
<div id="t2">
    <h2 align="center">MY TASKS</h2>
    <table class="md">
    {%for getdata in  module_waiting %}
    
    {% if forloop.counter0|divisibleby:2 %} 
    <tr>
    <td>

    <div id="b">
        <form id='form-id' method="post" action="{% url 'community:cm_view' getdata.md_id %}">
                    {% csrf_token %}
                       <a href="#" onclick="document.forms['form-id'].submit();" id="u" > <img src="{%static '/community/images/Group 12.svg'%}"> </a>
                </form>  
    
      
   
    <a href="" onclick="update1({{getdata.md_id}})" id="p"><img src="{%static '/community/images/Group 18.svg'%}"></a>
    
    <a href="" onclick="func3(event)" id="p1"><img src="{%static '/community/images/Group 74.svg'%}"></a>
    
    <sec  id="f">{{getdata.md_name}}</sec>
    <p id="d">{{getdata.md_description}}</p>
    </div>
    </td>
    
    {% else %}
    
    <td>
    <div id="b">
       
        <form id='form-id1' method="post" action="{% url 'cm_view' getdata.md_id %}">
            {% csrf_token %}
               <a href="#" onclick="document.forms['form-id1'].submit();" id="u" > <img src="{%static '/community/images/Group 12.svg'%}"> </a>
        </form>  

   
        <a href="" onclick="update1({{getdata.md_id}})" id="p"><img src="{%static '/community/images/Group 18.svg'%}"></a>
        
        <a href="" onclick="func3(event)" id="p1"><img src="{%static '/community/images/Group 74.svg'%}"></a>

    <sec  id="f">{{getdata.md_name}}</sec>
    <p id="d">{{getdata.md_description}}</p>
    </div>
    </td>
    
    </tr>
    {% endif %}
    {% empty %}
        <h6>No works</h6>
    
    
    {% endfor %}
       
    </table>
    </div>
    
{% endblock section %}
