{% extends "ex_home.html" %}
{% block section %}
<div id="t4">
    {%load static%}
    <H2>COMPLETED WORKS</H2>
    <table   style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Projects_completed %}
     
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    <a href="" onclick="func7(event)" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="func8(event)" id="clie"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="project_download(event,{{getdata.pr_id}});" id="down"><div id="download"><img src="{% static '/images/Download.svg'%}" id="download1"></div></a>
    <sec  id="f">{{getdata.pr_name}}</sec>
    <p id="d">{{getdata.pr_description}}</p><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    </div>
    </td>
    <!--
    <td>
    <div id="b"  onclick="alert('div');">
    <a href="" onclick="func7(event)" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="func8(event)" id="clie"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func9(event)" id="down"><div id="download"><img src="{% static '/images/Download.svg'%}" id="download1"></div></a>
    <sec  id="f">hlloo</sec>
    <p id="d">hii</p><br>
    <p id="ddd">how are you</p>
    </div>
    </td>
-->
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock section %}