{% extends "ex_base.html" %}
{% block section %}
<div id="t1">
    <h2>LATEST WORKS</h2>
    <table   style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    
    
    {%for getdata in Projects %}
    
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    <a href="" onclick="accept({{getdata.pr_id}});" id="u"><div id="accept"><div id="accept1">ACCEPT</div></div></a>
    <a href="" onclick="func5(event)" id="proj"><div id="c"><div id="c1">C</div></div></a>
    
    <sec  id="f">{{getdata.pr_name}}</sec>
    <p id="d">{{getdata.pr_description}}</p><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    </div>
    </td>
    <!--
    
    <td>
    <div id="b"  onclick="alert('div');">
    <a href="" onclick="accept({{getdata.pr_id}})" id="u"><div id="accept"><div id="accept1">ACCEPT</div></div></a>
    <a href="" onclick="func2(event)" id="p1"><div id="c"><div id="c1">C</div></div></a>
    <sec  id="f">hloo</sec>
    <p id="d">{{getdata.pr_id}}</p><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    </div>
    </td>-->
    </tr>



    {% endfor %}
    
        
        
    </table>
</div>
{% endblock section %}