{% extends "ex_new_modules.html" %}

  
{% block section %}
{% load static %}
<div id="t2">
    <h2>{{data}}</h2>
    <form>
        <input type="text" name=key >
        <input type="submit" name=key_button value="search">
    </form>
    <h2>COMPLETED MODULES</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
        {%for getdata in Modules_completed %}
        {% if forloop.counter0|divisibleby:2 %} 
    </tr>
        <td>
        <div id="b" onclick="alert('div');">
        <a href="{% url 'community:ex_view' getdata.md_id %}" id="clos"><div id="close"><div id="close1">FILES</div></div></a>
    
        <a href="{% url 'expert:md_import'  %}"  id="prog"><div id="progress"><div id="progress1">IMPORT</div></div></a>
        <!--<a href="{% url 'community:ex_view' getdata.md_id %}" id="reopen"><div id="accept"><div id="accept1">FILES</div></div></a>-->
        <!--<a href="" onclick="func9(event)" id="downm"><img src="{% static '/images/Download.svg'%}" id="download1"></a>-->
        <!--<a href="" onclick="func2(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>-->
        <sec  id="f">{{getdata.md_name}}</sec>
        <a id="d" href="{% url 'expert:md_description' getdata.md_id %}" >Desription</a><br>
        </div>
        </td>
        {% else %}
        <td>
            <div id="b" onclick="alert('div');">
            <a href="{% url 'community:ex_view' getdata.md_id %}" id="clos"><div id="close"><div id="close1">FILES</div></div></a>
    
            <a href="{% url 'expert:md_import'  %}"  id="prog"><div id="progress"><div id="progress1">IMPORT</div></div></a>
            <!--<a href="" onclick="func9(event)" id="downm"><img src="{% static '/images/Download.svg'%}" id="download1"></a>-->
            <!--<a href="" onclick="func2(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>-->
            <sec  id="f">{{getdata.md_name}}</sec>
            <a id="d" href="{% url 'expert:md_description' getdata.md_id %}" >Desription</a><br>
            </div>
            </td>
    </tr>
    {%endif%}
    

{% empty %}
    <h1>No works</h1>
        {% endfor %}

</div>

{% endblock section %}