{% extends "ex_new_modules.html" %}

  
{% block section %}
<div id="t2">
    <h2>{{data}}</h2>
    <h2>TRACK MODULES</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Modules_manage %}
    <tr>
        <td>
            <div id="b" onclick="alert('div');">
            <a href="" onclick="func3(event)" id="progressm"><div id="close"><div id="close1">80%</div></div></a>
            <a href="" onclick="func5(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>
            <a href="" onclick="func6(event)" id="edit"><div id="progress"><div id="progress1">EDIT</div></div></a>
            <sec  id="f">{{getdata.md_name}}</sec>
            <p id="d">{{getdata.md_description}}</p>
            </div>
            </td>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock section %}