{% extends "ex_home.html" %}
{% block nav  %}
<a id="a22"><b>Myworks</b></a><br>
{% endblock  %}
{% block color %}
    <script>
  
        $(document).ready(function(){
            document.getElementById("mywork").style.filter="invert(100%)";
            document.getElementById("review").style.filter="invert(100%)";
            document.getElementById("a2").style.color= "white";
        
        
        });
        
            
    </script>
    
{% endblock  %}
{% block section %}
<div id="t2">
    <h2>{{data}}</h2>
    <h2>MY TASKS</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Projects_task %} 
    {% if forloop.counter0|divisibleby:2 %} 
    <tr>
    
    <td>
    <div id="b" >
    <a href="" onclick="project_close(event,{{getdata.pr_id}});" id="clos"><div id="close"><div id="close1">CLOSE</div></div></a>
    
    <a href="" onclick="func6(event)" id="prog"><div id="progress"><div id="progress1">PROGRESS</div></div></a>
    
    <a onclick="module_page(event,{{getdata.pr_id}});"><sec  id="f">{{getdata.pr_name}}</sec></a>
    <a id="d" href="{% url 'expert:description' getdata.pr_id %}" >Desription</a><br>
    <p id="ddd">{{getdata.pr_due}}</p>
    </div>
    </td>
    {% else %}
    <td>
        <div id="b" >
        <a href="" onclick="project_close(event,{{getdata.pr_id}});" id="clos"><div id="close"><div id="close1">CLOSE</div></div></a>
    
        <a href="" onclick="func6(event)" id="prog"><div id="progress"><div id="progress1">PROGRESS</div></div></a>
        
        <a onclick="module_page(event,{{getdata.pr_id}});"><sec  id="f">{{getdata.pr_name}}</sec></a>
        <a id="d" href="{% url 'expert:description' getdata.pr_id %}" >Desription</a><br>
        <p id="ddd">{{getdata.pr_due}}</p>
        </div>
        </td>
    </tr>
    {%endif%}
    {% empty %}
    <h1>No works</h1>
    {% endfor %}
    </table>
</div>
{% endblock section %}

    
    
    
    