{% extends "ex_new_modules.html" %}

  
{% block section %}
<div id="t2">
    <h2>{{data}}</h2>
    <h2>TRACK MODULES</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Modules_manage %}
    {% if forloop.counter0|divisibleby:2 %} 
    <tr>
        <td>
            <div id="b" >
            <!--<a href="" onclick="func3(event)" id="progressm"><div id="close"><div id="close1">80%</div></div></a>-->
            <!--<a href="" onclick="func5(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>-->
            <a href="" id="u"><div id="accept"><div id="accept1">TRACKING</div></div></a>
            <sec  id="f">{{getdata.md_name}}</sec>
            <input type="hidden" id="description" name="description" value="{{getdata.md_description}}">
        <a id="d" onclick="des()" >Desription</a><br>>
            </div>
            </td>
            {% else %}
            <td>
                <div id="b" >
                <!--<a href="" onclick="func3(event)" id="progressm"><div id="close"><div id="close1">80%</div></div></a>-->
                <!--<a href="" onclick="func5(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>-->
                <a href="" id="u"><div id="accept"><div id="accept1">TRACKING</div></div></a>
                <sec  id="f">{{getdata.md_name}}</sec>
                <input type="hidden" id="description" name="description" value="{{getdata.md_description}}">
            <a id="d" onclick="des()" >Desription</a><br>>
                </div>
                </td>
    </tr>
    {%endif%}
    {% empty %}
    <h1>No works</h1>
    {% endfor %}
    
    
    </table>
</div>

{% endblock section %}