
{% extends "ex_home.html" %}
{% block header %}
    <a href="{% url 'expert:ex_new_modules' %}"><div id="new_modules"><div id="text_navbar_modules">NEW</div></div></a>
    <a href="{% url 'expert:ex_manage_modules' %}"><div id="manage_modules"><div id="text_navbar_modules1">MANAGE</div></div></a>
    <a href="{% url 'expert:ex_review_modules' %}"><div id="review_modules"><div id="text_navbar_modules2">REVIEW</div></div></a>
    <a href="{% url 'expert:ex_completed_modules' %}"><div id="completed_modules"><div id="text_navbar_modules3">COMPLETED</div></div></a>

{% endblock header %}
  
{% block section %}
<a href="{% url 'expert:module_creation' %}"><div  class="create_new_modules"><div id="text_navbar_modules3">ADD+</div></div></a>
<div id="t2">
    <h2>{{data}}</h2>
    <h2>NEW MODULES</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Modules_new %}
    {% if forloop.counter0|divisibleby:2 %} 
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    
    
    <a href="" id="u"><div id="accept"><div id="accept1">PENDING</div></div></a>
    <sec  id="f">{{getdata.md_name}}</sec>
    <input type="hidden" id="description" name="description" value="{{getdata.md_description}}">
        <a id="d" onclick="des()" >Desription</a><br>>
    </div>
    </td>
    {% else %}
    <td>
        <div id="b" onclick="alert('div');">
        
        
        <a href="" id="u"><div id="accept"><div id="accept1">PENDING</div></div></a>
        <sec  id="f">{{getdata.md_name}}</sec>
        <input type="hidden" id="description" name="description" value="{{getdata.md_description}}">
        <a id="d" onclick="des()" >Desription</a><br>>
        </div>
        </td>
    </tr>
    {%endif%}
    {% empty %}
    <h1>No works</h1>
    {% endfor %}
    </table>
</div>

{% endblock section %}