{% extends "ex_new_modules.html" %}

  
{% block section %}
{% load static %}
<div id="t3">
    <h2>{{data}}</h2>
    <h2>REVIEW MODULES</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Modules_review %}
    {% if forloop.counter0|divisibleby:2 %} 
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    <a href="" onclick="module_suggestion(event,{{getdata.md_id}});"><div id="close"><div id="close1">SUGGESTION</div></div></a>
    <!--<a href="" onclick="func5(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>-->
    <a href="{% url 'community:ex_view' getdata.md_id %}" id="downm"><img src="{% static '/images/Download.svg'%}" id="download1"></a>
    <a href="" onclick="approve_module({{getdata.md_id}});" id="edit"><div id="progress"><div id="progress1">APPROVE</div></div></a>
    <sec  id="f">{{getdata.md_name}}</sec>
    <a id="d" href="{% url 'expert:md_description' getdata.md_id %}" >Desription</a><br>
    </div>
    </td>
    {% else %}
    <td>
        <div id="b" onclick="alert('div');">
        <a href="" onclick="module_suggestion(event,{{getdata.md_id}});"><div id="close"><div id="close1">SUGGESTION</div></div></a>
        <!--<a href="" onclick="func5(event)" id="developer"><div id="c"><div id="c1">D</div></div></a>-->
        <a href="{% url 'community:ex_view' getdata.md_id %}"  id="downm"><img src="{% static '/images/Download.svg'%}" id="download1"></a>
        <a href="" onclick="approve_module({{getdata.md_id}});" id="edit"><div id="progress"><div id="progress1">APPROVE</div></div></a>
        <sec  id="f">{{getdata.md_name}}</sec>
        <a id="d" href="{% url 'expert:md_description' getdata.md_id %}" >Desription</a><br>
        </div>
        </td>
    </tr>
    {%endif%}
    {% empty %}
    <h1>No works</h1>
    {% endfor %}

</div>

{% endblock section %}