{% extends "ex_home.html" %}
{% block nav  %}
<a id="a22"><b>Review</b></a><br>
{% endblock  %}
{% block color %}
    <script>
  
        $(document).ready(function(){
            document.getElementById("review").style.filter="invert(0%)";
            document.getElementById("a3").style.color= "white";
        
        
        });
        
            
    </script>
    
{% endblock  %}
{% block section %}
<div id="t3" >
    {%load static%}
    <h2>WORKS UNDER REVIEW</h2>
    <table   style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Projects_review %}
    {% if forloop.counter0|divisibleby:2 %} 
    
    <tr>
    <td>
    <div id="b" >
    <a href="" onclick="project_download(event,{{getdata.pr_id}});" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="project_download(event,{{getdata.pr_id}});" id="down"><div id="download"><img src="{% static '/images/Download.svg' %}"  id="download1"></div></a>
    
    <sec  id="f">{{getdata.pr_name}}</sec>
    <input type="hidden" id="description" name="description" value="{{getdata.pr_description}}">
    <input type="hidden" id="description" name="description" value="{{getdata.pr_description}}">
    <a id="d" onclick="des()" >Desription</a><br>
    <p id="ddd">{{getdata.pr_due}}</p>
    </div>
    </td>
    {% else %}

    <td>
        <div id="b" >
        <a href="" onclick="des()" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
        <a href="" onclick="project_download(event,{{getdata.pr_id}});" id="down"><div id="download"><img src="{% static '/images/Download.svg' %}"  id="download1"></div></a>
        
        <sec  id="f">{{getdata.pr_name}}</sec>
        <input type="hidden" id="description" name="description" value="{{getdata.pr_description}}">
    <a id="d" onclick="des()" >Desription</a><br>
        <p id="ddd">{{getdata.pr_due}}</p>
        </div>
        </td>
        
   
    </tr>
    {%endif%}
    {% empty %}
    <h1>No works</h1>
    {% endfor %}  
    </table>
    </div>
{% endblock section %}