


<doctype html>
    {%load static%}
    <head>
    <title>expert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/expert/expert.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    </head>
    
    <body onload="click();">
    
    <div id="box" tabindex="-1">
    
    <form action="clientreg.php" method='post' id="myform" >
    <label id="profile">PROFILE</label>
    <label id="n">NAME</label><br>    
    <input type="text" id="name" name="name" >
    <label id="e">Email</label><br> 
    <input type="email" id="email" name="email" >
    <label id="pn">Phone-No</label><br> 
    <input type="number" id="no" name="number" >
    <label id="pr">Profession</label><br>
    <input type="text" id="profession" name="profession">
    <label id="sk">Skills</label><br>
    <input type="text" id="skill" name="skill">
    <label id="add">Address</label><br>
    <input type="textarea" id="address" name="address">
    <input type="submit" name="update" value="UPDATE"  id="btn">
    </form>
    
    </div>
    <div id="dashboard">
    <img src="{% static '/images/List.svg'%}">	
    </div>	
    <div id="header">
    <a id=a11><b>Dashboard</b></a><br>
    <img src="{% static '/images/arrow.svg'%}">
    <a id=a22><b>Review</b></a><br>
    <div id=a33>Welcome user</div><br>
    <a id=a44><div id=d1><span>N</span></div></a><br>
    <a id=a55><img src="{% static '/images/Logout.svg'%}"></a><br>
    </div>
    <div id="nav">
    <div id=n1>
    <img src="{% static '/images/vector.svg'%}" id='home' ><a id=a1><b>Home</b></a>
    </div>
    <div id=n2>
    <img src="{% static '/images/Maintenance.svg'%}" id='mywork'><a id=a2><b>My Works</b></a>
    </div>
    <div id=n3>
    <img src="{% static '/images/View.svg'%}" id='review'><a id=a3><b>Review</b></a>
    </div>
    <div id=n4>
    <img src="{% static '/images/Audit.svg'%}" id='completed'><a id=a4><b>Completed</b></a>
    </div>
    </div>
    <div id="section">
    
    <div id="t1">
    <h2>LATEST WORKS</h2>
    <table   style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    
    
    {%for getdata in Projects %}
    
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    <a href="" onclick="accept({{getdata.pr_id}})" id="u"><div id="accept"><div id="accept1">ACCEPT</div></div></a>
    <a href="" onclick="func2(event)" id="p1"><div id="c"><div id="c1">C</div></div></a>
    
    <sec  id="f">{{getdata.pr_name}}</sec>
    <p id="d">{{getdata.pr_description}}</p><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    </div>
    </td>
    <!--
    
    <td>
    <div id="b"  onclick="alert('div');">
    <a href="" onclick="accept({{getdata.pr_id}})" id="u"><div id="accept"><div id="accept1">ACCEPT</div></div></a>
    <a href="" onclick="func2(event)" id="p1"><div id="c"><div id="c1">C</div></div></a>
    <sec  id="f">hloo</sec>
    <p id="d">{{getdata.pr_id}}</p><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    </div>
    </td>-->
    </tr>



    {% endfor %}
    
        
        
    </table>
    </div>
    
    
    <div id="t2">
    <h2>MY TASKS</h2>
    <table  style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Projects_task %} 
    <tr>
    <td>
    <div id="b" onclick="func4(event)">
    <a href="" onclick="func4(event)" id="clos"><div id="close"><div id="close1">CLOSE</div></div></a>
    <a href="" onclick="func5(event)" id="proj"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func6(event)" id="prog"><div id="progress"><div id="progress1">PROGRESS</div></div></a>
    
    <sec  id="f">{{getdata.pr_name}}</sec>
    <p id="d">{{getdata.pr_description}}</p><br>
    <p id="ddd">{{getdata.pr_due}}</p>
    </div>
    </td>
    <!--
    <td>
    <div id="b"  onclick="func4(event)">
    <a href="" onclick="func4(event)" id="clos"><div id="close"><div id="close1">CLOSE</div></div></a>
    <a href="" onclick="func5(event)" id="proj"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func6(event)" id="prog"><div id="progress"><div id="progress1">PROGRESS</div></div></a>
    <sec  id="f">hlooo</sec>
    <p id="d">hlloo</p><br>
    <p id="ddd">hlloo</p>
    </div>
    </td> -->
    </tr>
    {% endfor %}
    </table>
    </div>
    
    
    
    <div id="t3" >
    <h2>WORKS UNDER REVIEW</h2>
    <table   style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Projects_review %}
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    <a href="" onclick="func7(event)" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="func8(event)" id="clie"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func9(event)" id="down"><div id="download"><img src="{% static '/images/Download.svg'%}" id="download1"></div></a>
    
    <sec  id="f">{{getdata.pr_name}}</sec>
    <p id="d">{{getdata.pr_description}}</p><br>
    <p id="ddd">{{getdata.pr_due}}</p>
    </div>
    </td>
    <!--
    <td>
    <div id="b"  onclick="alert('div');">
    <a href="" onclick="func7(event)" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="func8(event)" id="clie"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func9(event)" id="down"><div id="download"><img src="{% static '/images/Download.svg'%}" id="download1"></div></a>
    <sec  id="f">hlloo</sec>
    <p id="d">hiii</p><br>
    <p id="ddd">how are you</p>
    </div>
    </td>
-->
    </tr>
    {% endfor %}  
    </table>
    </div>
    
    
    
    <div id="t4">
    <H2>COMPLETED WORKS</H2>
    <table   style="position: relative;left: -30px;top: -40px;border-spacing:60px;">
    {%for getdata in Projects_completed %}
     
    <tr>
    <td>
    <div id="b" onclick="alert('div');">
    <a href="" onclick="func7(event)" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="func8(event)" id="clie"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func9(event)" id="down"><div id="download"><img src="{% static '/images/Download.svg'%}" id="download1"></div></a>
    <sec  id="f">{{getdata.pr_name}}</sec>
    <p id="d">{{getdata.pr_description}}</p><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    </div>
    </td>
    <!--
    <td>
    <div id="b"  onclick="alert('div');">
    <a href="" onclick="func7(event)" id="vie"><div id="view"><div id="view1">VIEW</div></div></a>
    <a href="" onclick="func8(event)" id="clie"><div id="c"><div id="c1">C</div></div></a>
    <a href="" onclick="func9(event)" id="down"><div id="download"><img src="{% static '/images/Download.svg'%}" id="download1"></div></a>
    <sec  id="f">hlloo</sec>
    <p id="d">hii</p><br>
    <p id="ddd">how are you</p>
    </div>
    </td>
-->
    </tr>
    {% endfor %}
    </table>
    </div>
    
    </div>
    <script src="{% static '/expert/expert.js' %}"></script>
    </body>
    </html>