{%load static%}
<doctype html>
    <head>
    <title>files</title>
    <style>
    #h{
        text-align: center;
    }
    table, th, td {
        border: 1px solid black;
       
        padding-bottom: 20px;
        padding-top: 20px;
        border: 1px solid black;
    }
    table{
        border-spacing: 30px;
        
    }
    #t1{
        position: absolute;
        left:300px;
    }
    #b2{
        
        background: #1a6eec;
        width: 150px;
        height: 30px;
        
    }
    </style>    
    </head>
    <body>
    <h3 id="h"><u>FILES</u></h3>
    <table style="width:60%" id="t1">
        <tr>
            <th colspan="2" >DESCRIPTION</th>
            <th style="width:20%" ><button type="submit" formaction="#" id="b2">DOWNLOAD</button></th>
        </tr>
        <tr>
            <th colspan="2" >DESCRIPTION</th>
            <th style="width:20%" ><button type="submit" formaction="#" id="b2">DOWNLOAD</button></th>
        </tr>
        <tr>
            <th colspan="2" >DESCRIPTION</th>
            <th style="width:20%" ><button type="submit" formaction="#" id="b2">DOWNLOAD</button></th>
        </tr>
        <tr>
            <th colspan="2" >DESCRIPTION</th>
            <th style="width:20%" ><button type="submit" formaction="#" id="b2">DOWNLOAD</button></th>
        </tr>
    </table>    
    </body>  
</html>      