{% extends 'client_progress.html' %}
{% load static %}
{% block navi %}
<a id="a22"><b>Completed</b></a><br>
{% endblock%}

{% block color %}
<script>
  
    $(document).ready(function(){
        document.getElementById("a4").style.color= "white";
        console.log('hello');   
    
    });
    
        
</script>
{%endblock%}
{% block section %} 
<table  id="t4" style="position: relative;left: -10px;top: -40px;border-spacing:60px;">
{%for getdata in Projects_completed %}
{% if forloop.counter0|divisibleby:2 %}
<tr>
<td>
<div id="b" onclick="alert('div');">
<a id="re"><button id="Reopen">Download</button></a>

<!--<a href="" onclick="func3(event)" id="dwn"><div id="c"><div id="c1"><img src="{% static '/images/Group 74.svg'%}"></div></div></a>-->


<sec  id="f">{{getdata.pr_name}}</sec>
<a id="d" href="{% url 'expert:description' getdata.pr_id %}" >Desription</a><br>
<p id="ddd">{{getdata.pr_date}}</p>

</div>
</td>
{% else %}
<td>
    <div id="b" onclick="alert('div');">
    <a id="re"><button id="Reopen">Download</button></a>
    
    <!--<a href="" onclick="func3(event)" id="dwn"><div id="c"><div id="c1"><img src="{% static '/images/Group 74.svg'%}"></div></div></a>-->
    
    
    <sec  id="f">{{getdata.pr_name}}</sec>
    <a id="d" href="{% url 'expert:description' getdata.pr_id %}" >Desription</a><br>
    <p id="ddd">{{getdata.pr_date}}</p>
    
    </div>
    </td>
</tr>
{% endif %}
{% empty %}
    <h1>No works</h1>
{% endfor %}

</table>
{% endblock %}