{% extends 'client_progress.html' %}
{% load static %}
{% block navi %}
<a id="a22"><b>Requirements</b></a><br>
{% endblock%}

{% block color %}
<script>
  
    $(document).ready(function(){
        document.getElementById("a2").style.color= "white";
        console.log('hello');   
    
    });
    
        
</script>
{%endblock%}
{% block section %}

<div class="container" style="padding:20px;">
    <div class="row">
        <div class="col-12">
            <p><h1>Requirements submission</h1></p>
            <form method="POST" class="post-form" enctype="multipart/form-data">  
                    {% csrf_token %}  
                    {{ form.as_p }}  
                <button type="submit" class="btn btn-primary" name="btn1">Save</button>  
            </form>  
        </div>
    </div>
</div>

{% endblock %}